<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Find, compare, and rent commercial spaces tailored to your business needs anytime, anywhere in the world.">
    <meta name="keywords" content="commercial space rental, business space, retail space, warehouse rental, industrial space,
    restaurant space, office space, commercial real estate, business solutions, Hustlerati">
    <meta name="author" content="Hustlerati Team">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Terms of Service and Privacy Policy | Hustlerati</title>
    <link rel="stylesheet" href="/stylesheets/default.css">
</head>

<body>
    <%- include('partials/header') %>
    <main>
        <div class="container tos-container">
            <h1>Terms of Service and Privacy Policy</h1>
        </div>
        <div class="terms-container">
            <div class="terms-content">
                <h1>Terms of Service</h1>
                <p class="last-updated">Last Updated: <%= tosAndPrivacy.tos_last_updated ? new
                        Date(tosAndPrivacy.tos_last_updated).toLocaleDateString() : 'N/A' %>
                </p>
                <div class="tos-content">
                    <%- tosAndPrivacy.tos %>
                </div>
            </div>
        </div>
        <div class="privacy-container">
            <div class="privacy-content">
                <h1>Privacy Policy</h1>
                <p class="last-updated">Last Updated: <%= tosAndPrivacy.privacy_last_updated ? new
                        Date(tosAndPrivacy.privacy_last_updated).toLocaleDateString() : 'N/A' %>
                </p>
                <div class="privacy-content">
                    <%- tosAndPrivacy.privacy %>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/javascript/localization.js"></script>
    <script src="/javascript/accessibility.js"></script>
    <script src="/javascript/index.js"></script>
</body>

</html>